body {
  background: #fff;
}
#blog-container .navbar {
  margin-bottom: 10px;
}
#blog-container #header-title {
  font-size: 50px;
  margin: 0;
padding: 0;
padding-top: 10px;
display: inline-block;
float: left;
width: 420px;
text-align: left;
margin-left: 20px;
}
#blog-container #logo {
  padding: 0;
  width: 100px;
  display: inline-block;
  float: left;
  height: auto;
  margin: 0;


}
#blog h2 {
  font-size: 50px;
}
.blog-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.blog-list li {
  margin-bottom: 90px;
}
.blog-list li p {
  text-align: justify;
  font-size: 17px;
  color: #444;
}
.post-date {
  color: #444;
  float: right;
  font-size: 15px;
}
.post-link {
  display: block;
  font-size: 24px;
  color: #007EFF;
  margin-bottom: 10px;
}
.logo-container {
  padding-bottom: 20px;
  text-align: center;
  width: 570px;
}
#blog-container #generic-subheader h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 36px;
  text-align: left;
  color: #007EFF;

}
#blog-container #generic-box h3 {
  font-size: 20px;
  font-style: italic;
  font-weight: normal;

}
#blog {
  background: #fff;
}
#blog-container #generic-box {
  padding: 0;
}
#blog-box {
  width: 50%;
  background-color: white;
  color: black;
  padding: 1px 20px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  top: -10px;
  -webkit-box-shadow: 1px 1px 25px 5px #050505;
  box-shadow: 1px 1px 25px 5px #050505;
  font-size: 18px;
  min-height: 500px;
}

#updates-box {

  background-color: white;
  color: black;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  font-size: 18px;
}

/* Small devices (450px and smaller) */
@media (max-width: 767px) {
  .logo-container {
    text-align: center;
    width: 450px;
    z-index: 10000;
    position: absolute;
    top: 0;
  }
  #blog-container #header-title {
    font-size: 36px;
    margin: 0;
  padding: 0;
  padding-top: 10px;
  line-height: 45px;
  display: inline-block;
  float: left;
  width: 310px;
  text-align: left;
  margin-left: 20px;
  }
  #blog-container #logo {
    padding: 0;
    width: 80px;
    display: inline-block;
    float: left;
    height: auto;
    margin: 0;
    margin-top: 10px;

  }
}


