#logo {
  /* -moz-transform: translateZ(0.2px) scale(0.8);
  -ms-transform: translateZ(0.2px) scale(0.8);
  -webkit-transform: translateZ(0.2px) scale(0.8);
  transform: translateZ(0.2px) scale(0.8); */
}
.eyes {
  display: inline;
}
.eye-lg {
 /* -moz-transform: translateZ(0.3px) scale(0.7);
  -ms-transform: translateZ(0.3px) scale(0.7);
  -webkit-transform: translateZ(0.3px) scale(0.7);
  transform: translateZ(0.3px) scale(0.7); */
  width: 110px;
  height: 65px;
  /* background: url(../images/eye-lg.png) no-repeat; */
  display: block;
  position: absolute;
  z-index: 100;
  display: none;
}
.eye-md {
  /* -moz-transform: translateZ(0.2px) scale(0.7);
  -ms-transform: translateZ(0.3px) scale(0.7);
  -webkit-transform: translateZ(0.3px) scale(0.7);
  transform: translateZ(0.3px) scale(0.7); */
  width: 62px;
  height: 36px;
  /* background: url(../images/eye-md.png) no-repeat; */
  display: block;
  position: absolute;
  z-index: 100;
  display: none;
}
.eye-sm {
  /* -moz-transform: translateZ(0.1px) scale(0.9);
  -ms-transform: translateZ(0.1px) scale(0.9);
  -webkit-transform: translateZ(0.1px) scale(0.9);
  transform: translateZ(0.1px) scale(0.9); */
  width: 31px;
  height: 19px;
  /* background: url(../images/eye-sm.png) no-repeat; */
  display: block;
  position: absolute;
  z-index: 100;
  display: none;
}
#eye1 {
  left: 18%;
  top: 40%;
}
#eye2 {
  left: 27%;
  top: 19%;
}
#eye3 {
  top: 55%;
  left: 31%;
}
#eye4 {
  left: 63%;
  top: 50%;
}
#eye5 {
  top: 23%;
  left: 70%;
}
#eye6 {
  top: 56%;
  left: 80%;
}
svg .eyelid {
  opacity: 0;
}
@keyframes blink {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0; }
  60% { opacity: 0; }
  90% { opacity: 1; }
  100% { opacity: 1; }
}
@-webkit-keyframes blink {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0; }
  60% { opacity: 0; }
  90% { opacity: 1; }
  100% { opacity: 1; }
}
.eye-blink svg #eyelid-1 {
  animation: blink 0.5s ease alternate 1;
  -webkit-animation: blink 0.5s ease alternate 1;
}
.eye-blink svg #eyelid-2 {
  animation: blink 0.5s ease alternate 1;
  -webkit-animation: blink 0.5s ease alternate 1;
  animation-delay: 0.03s;
  -webkit-animation-delay: 0.03s;
}
.eye-blink svg #eyelid-3 {
  animation: blink 0.5s ease alternate 1;
  -webkit-animation: blink 0.5s ease alternate 1;
  animation-delay: 0.06s;
  -webkit-animation-delay: 0.06s;
}
.eye-blink svg #eyelid-5 {
  animation: blink 0.5s ease alternate 1;
  -webkit-animation: blink 0.5s ease alternate 1;
  animation-delay: 0.09s;
  -webkit-animation-delay: 0.09s;
}
.eye-blink svg #eyelid-7 {
  animation: blink 0.5s ease alternate 1;
  -webkit-animation: blink 0.5s ease alternate 1;
  animation-delay: 0.12s;
  -webkit-animation-delay: 0.12s;
}
.eye-blink svg #eyelid-8 {
  animation: blink 0.5s ease alternate 1;
  -webkit-animation: blink 0.5s ease alternate 1;
  animation-delay: 0.15s;
  -webkit-animation-delay: 0.15s;
}
.eye-blink svg #eyelid-9 {
  animation: blink 0.5s ease alternate 1;
  -webkit-animation: blink 0.5s ease alternate 1;
  animation-delay: 0.18s;
  -webkit-animation-delay: 0.18s;
}
.eye-blink svg #eyelid-10 {
  animation: blink 0.5s ease alternate 1;
  -webkit-animation: blink 0.5s ease alternate 1;
  animation-delay: 0.21s;
  -webkit-animation-delay: 0.21s;
}

@media (max-width: 1100px) {
 /* #eye1 {
  left: 26%;
  }
  #eye2 {
    left: 32%;
  }
  #eye3 {
    left: 31%;
  }
  #eye4 {
    left: 60%;
  }
  #eye5 {
    left: 64%;
  }
  #eye6 {
    left: 75%;
  } */
  #header-title {
    font-size: 114px;
  }
}
@media (max-width: 991px) {
 /* #eye1 {
  left: 24%;
  }
  #eye2 {
    left: 30%;
  }
  #eye3 {
    left: 29%;
  }
  #eye4 {
    left: 62%;
  }
  #eye5 {
    left: 64%;
  }
  #eye6 {
    left: 78%;
  } */
}
@media (max-width: 960px) {
 /* #eye4 {
    left: 62%;
  }
  #eye5 {
    left: 68%;
  }
  #eye6 {
    left: 78%;
  } */
  #header-nav a {
    margin-left: 5px;
    margin-right: 5px;
  }
  #header-title {
    font-size: 97px;
  }
}
@media (max-width: 810px) {
 /* #eye1 {
    left: 20%;
  }
  #eye4 {
    left: 64%;
  }
  #eye5 {
    left: 70%;
  }
  #eye6 {
    left: 80%;
  } */
  #header-title {
    font-size: 90px;
  }
}

@media (max-width: 810px) {
  #header-title {
    font-size: 82px;
  }
  .eyes {
    display: none;
  }
}

@media (max-width: 700px) {
  #header-title {
    font-size: 58px;
  }
  #reps-lookup-box {
    top: 0;
  }
  #logo {
    position: static;
    width: 50%;
    height: auto;
   /* -moz-transform: none 0;
    -ms-transform: none 0;
    -webkit-transform: none 0;
    transform: none 0; */
    margin-left: auto;
    margin-right: auto;
  }
  #header-nav {
    position: static;
  }
  #header {
    height: auto;
  }
  .eyes {
    display: none;
  }
}