{% assign lvl = page.url | append:'X' | split:'/' | size %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="keywords" content="@todo Need text" />
    <meta name="description" content="@todo Need text" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Stand Against Spying</title>
    
    <link rel="shortcut icon" href="{{relative}}favicon.ico" type="image/x-icon" /> 

    <meta property="og:title" content="Where do your representatives stand on illegal surveillance?"/>
    <meta property="og:description" content="Find out exactly how each of your representatives compare."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://standagainstspying.org"/>
    <meta property="og:image" content="https://standagainstspying.org/images/og-image.jpg"/>
    <meta property="og:site_name" content="StandAgainstSpying.org"/>
    <meta property="fb:admins" content="36801504"/>
 
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Where do your representatives stand on illegal surveillance?">
    <meta name="twitter:description" content="Type in your zip code and find out exactly how each of your representatives compare.">
    <meta name="twitter:image" content="https://standagainstspying.org/images/og-image.jpg">
     
    <!-- CSS Links -->
    <link rel="stylesheet" href="{{relative}}lib/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{relative}}css/sas-styles.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{relative}}css/sas-header.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{relative}}css/blog-styles.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{relative}}fancybox/jquery.fancybox.css" />
    
    <!-- Scripts Here --> 
    <script src="{{relative}}lib/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="{{relative}}lib/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{relative}}lib/spin/spin.min.js" type="text/javascript"></script>
    <script src="{{relative}}js/eye-blink.js" type="text/javascript"></script>
    <script src="{{relative}}js/sas.js" type="text/javascript"></script>
    {% if page.url == '/scorecard/' %}
    <script src="{{relative}}lib/tablesorter/jquery.tablesorter.min.js" type="text/javascript"></script>
    <script src="{{relative}}js/scorecard.js" type="text/javascript"></script>      
    {% endif %}
    <script src="{{relative}}js/index.js" type="text/javascript"></script>      
    
  </head>
     
    <body id="blog-container">

    <div class="deprecation-notice">
      <div class="deprecation-notice-inner">
        <strong>Important note:</strong> the Stand Against Spying Congressional Scorecard is not being maintained. It is provided here for historical reference, but is not a current reflection of legislators' effort to end mass surveillance.
      </div>
    </div>

    <header id="header">

    <!-- Static navbar -->
    <div class="navbar navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav ">
            <li><a href="{{relative}}">Home</a></li>
            <li><a href="{{relative}}about">About</a></li>
            <li><a href="{{relative}}methodology">Methodology</a></li>
            <li><a href="{{relative}}scorecard">Full Scorecard</a></li>
            <li><a href="{{relative}}#letter-signup">Open Letter</a></li>
            <li><a href="{{relative}}updates">Updates</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
      <div class="container logo-container">
                <a href="{{relative}}" id="logo"><img src="{{relative}}images/logo.png" /></a>
             
                <h1 id="header-title">Stand Against Spying</h1>

      </div>
        <div style="clear: both;"></div>
      </header>
      {{content}}
      
      <div class="floating-share">
        <div class="share-buttons">
          <a data-network="twitter" href="https://twitter.com/share?text=Here%27s%20a%20scorecard%20showing%20exactly%20who%20in%20Congress%20is%20working%20to%20end%20mass%20NSA%20spying.&amp;url=https%3A%2F%2Fstandagainstspying.org" count="0" target="_blank" class="twitter-button social-count twlinkthis" >
            <div class="sicon" id="stwit"></div>
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fstandagainstspying.org%2F&display=popup" data-network="facebook" count="0" target="_blank" class="social-count facebook-button fblinkthis">
           <div class="sicon" id="sfb"></div>
          </a>
        </div>
      </div>

      <section id="footer1">
        <div id="footer1-box">
          <a id="privacy-policy" target="_blank" href="https://www.eff.org/policy">Privacy Policy</a>
          <a id="cc-logo" target="_blank" href="https://www.eff.org/copyright"><img src="{{relative}}images/cc-by-logo.png" /></a>
          <span id="cc-credit">(credit: Stand Against Spying coalition)</span>
        </div>
      </section>
      <script src="{{relative}}fancybox/jquery.fancybox.js"></script>
      <script>
      $(document).ready(function() {
        $(".fancybox").fancybox({
          openEffect  : 'none',
          closeEffect : 'none'
        });
      });
      </script>
    </body>
</html>
